    </ol>
        </section>

        <footer id="contact" class="hide">
            <div id="footer-header"></div>
            <article>
                <b>Just a dude from Ohio</b>
                <p>In September of 2011, I moved from Cincinnati to Chicago to work on reelecting President Barack Obama. During this time, I worked as the Lead Production Designer and I got a <a href="http://sphotos-a.xx.fbcdn.net/hphotos-ash3/557737_10100791717074645_1040641274_n.jpg" title="hug" data-image="http://sphotos-a.xx.fbcdn.net/hphotos-ash3/557737_10100791717074645_1040641274_n.jpg" class="modal">hug</a> from The&nbsp;President.</p>
            </article>
            <nav id="contact-nav">
                <ul>
                    <li><a href="mailto:zachstubenvoll@me.com" title="For Hire">For Hire</a></li>
                    <li><a href="http://www.twitter.com/zachstubenvoll" title="Follow me on Twitter">Twitter</a></li>
                    <li><a href="http://www.dribbble.com/zachstubenvoll" title="Follow me on Dribbble">Dribbble</a></li>
                </ul>
            </nav>
            <div id="credits"><a href="http://www.jefflouden.com" title="Jeffrey Louden is awful">Jeffrey Louden is awful</a><i></i></div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://assets.zachstubenvoll.com/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="http://assets.zachstubenvoll.com/js/main.js"></script>
        
        <script>var _gaq=[['_setAccount','UA-35854424-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));</script>
    </body>
</html>
